    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                &copy; YelpCamp 2020 | 
                <a href="/campgrounds">
                    Home
                </a>
                 | 
                <a href="https://github.com/JCarlosLucio">
                    Github
                </a>
            </p>
        </div>
    </footer>
</body>
</html>