html {
    background-color: #2ebf91;
    position: relative;
    min-height: 100%;
}

body {
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}

hr {
    border-top: 1px solid #ffffff
}

body, a {
    color: white;
}

.text-muted {
    color: white !important;
    margin: 0.5rem 0;
}
.comment-avatar {
    width: 3rem;
    margin: 0.3rem 0.5rem 0.3rem 0;
}
.custom-signup{
    width: 70%; 
    margin: 1rem auto;
    padding-top: 12vh;
}

.custom-form {
    width: 40%; 
    margin: 1rem auto;
    padding-top: 15vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron, .navbar, .card {
    background-color: rgba(0, 0, 0, 0.7);
}

a:hover {
    color: rgb(63, 252, 120);
}

/* Google Maps */
#map {
    min-height: 400px;
    height: 30%;
    width: 100%;
}
